<ion-content [fullscreen]="true">
  <div class="title">
    MIS APPS
  </div>
  <div class="card-wrapper">
    <ion-card (click)="navTo('meister-task-reader')">
      <ion-img src="assets/img/meister-logo.png"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Meister-task</ion-card-subtitle>
        <ion-card-title>Contador de horas</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        App para leer archivo csv exportado del tablero de MeisterTask
      </ion-card-content>
    </ion-card>
    <ion-card (click)="navTo('mis-gastos')">
      <ion-card-header>
        <ion-img src="assets/img/rastrear-gastos.jpg"></ion-img>
        <ion-card-subtitle>Gastos</ion-card-subtitle>
        <ion-card-title>Administrar mis gastos</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        App para administrar gastos mensuales
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>