.title {
  font-size: 3vw;
  width: max-content;
  margin: 10vh auto;
}
.card-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80vw;
  margin: 10vh auto auto;
  max-width: 1000px;
  min-width: 300px;
  justify-content: center;
}
ion-card {
  width: 50vw;
  max-width: 300px;
  cursor: pointer;
  &:hover {
    transition: .5s;
    transform: scale(1.05);
  }
  ion-img {
    height: 20vw;
    padding: 2vw;
  }
}
